<% layout("/INCLUDE/Boilerplate")%>

    <style>
        .data {
            display: flex;
            margin: 0 0 0 1rem;
        }

        #data-name {
            border: 2px solid black;
            width: 15rem;

        }

        #data-lat {
            border: 2px solid black;
            width: 15rem;
            margin: .5rem 0 0 1rem;
        }

        #data-long {
            border: 2px solid black;
            width: 15rem;
            margin: .5rem 0 0 1rem;
        }
    </style>

    <% if (user) { const myData=datas.find(d=> d.name._id.toString() === user._id.toString());
        if (myData) { %>
        <h1>Welcome <%= user.username %>
        </h1>
        <div class="data">
            <div id="data-name">
                <h2>
                    <%= myData.name.username %>
                </h2>
            </div>
            <div id="data-lat">
                <h2>x
                    <%= myData.Latitude %>
                </h2>
            </div>
            <div id="data-long">
                <h2>
                    <%= myData.Longitude %>
                </h2>
            </div>
        </div>
        <%}%>
<%}%>
            <!-- <button><a href="/map">Click</a></button> -->
            <%if(user && user._id.toString()==="68844f330d052ebc60694740" ){%>
                <%for(let data of datas){%>
                    <div class="data">
                        <h2>welcome</h2>
                        <div id="data-name">
                            <h2>
                                <%=data.name.username%>
                            </h2>
                        </div>
                        <div id="data-lat">
                            <h2>
                                <%=data.Latitude%>
                            </h2>
                        </div>
                        <div id="data-long">
                            <h2>
                                <%=data.Longitude%>
                            </h2>
                        </div>

                        <div class="btn">
                            <form method="POST" action="/<%=data._id%>?_method=Delete">
                                <button>Delete</button>
                            </form>
                        </div>
                    </div>
                    <%}%>
                        <%}%>


                            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
                                integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
                                crossorigin="anonymous"></script>